* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Architects Daughter', cursive;
  background-image: url("https://i.pinimg.com/736x/0c/ea/ed/0ceaedb06334145dae59bb83041c9efc.jpg");
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/003/480/071/non_2x/seamless-pattern-cats-in-christmas-day-vector.jpg"); */
}

